---
import Base from '../layouts/Base.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---
<Base title="aksyuma | Portfolio">
	<section class="mb-12">
		<h1 class="text-4xl font-extrabold tracking-tight mb-4 font-mono">
			Systems & Software Engineer
		</h1>
		<p class="text-zinc-400 text-lg max-w-xl leading-relaxed">
			Welcome to my active workspace. Below is a declassified look at my architectural philosophies and case studies.
		</p>
	</section>

	<section>
		<h2 class="text-sm font-mono tracking-widest text-zinc-500 uppercase mb-6">/ Case_Studies</h2>
		<div class="grid md:grid-cols-2 gap-4">
			{projects.map(project => <ProjectCard project={project} />)}
		</div>
	</section>
</Base>
